.carousel-control-next{
    margin-right: 15cm;
}

.carousel-control-prev{
    margin-left: 15cm;
}


.carousel-control-next :hover,
.carousel-control-prev :hover{
    background-color: rgba(95, 95, 95, 0.644);
    border-radius: 100%;
    padding: 15px;
}

.d-block{
    margin-left: 30%;
    width: 40%;
    height: 40%;
    border-radius: 5%;
}

.slide-text,
.slide-title{
    color: rgb(226, 226, 226);
}

.enlaceCategoria{
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-style: inherit;
}