<div class = "card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>ldsjflfñfdldsfj</p>
      <footer class="blockquote-footer">someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>

<!-- TAREA: hacerlo dinamico y agregar una imagen, llamar al metodo verArtista
 y al hacer clic, recorrer items y renderizar n items repetidos
*artista-nombre-listado de artistas-imagen
-->>
