<div class="card-grid-container ">
  <div class="card" style="width: 18rem;" *ngFor="let i of items" >
    <img src='{{i.images[0].url}}' alt='{{i.name}}'>
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">genero: {{i.genres[0]}}</p>
      <button (click)="verArtista(i)" class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
</div>


<!-- TAREA: hacerlo dinamico y agregar una imagen, llamar al metodo verArtista
 y al hacer clic, recorrer items y renderizar n items repetidos
*artista-nombre-listado de artistas-imagen
-->
